---
import BaseHead from '../../../components/BaseHead.astro';
import Header from '../../../components/ZeitungHeader.astro';
import Footer from '../../../components/Footer.astro';
import { SITE_DESCRIPTION } from '../../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../../components/FormattedDate.astro';

const zeitungen = (await getCollection('zeitung')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title="Archiv aller Ausgaben" description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main class="max-w-4xl mx-auto px-4">
			<section>
				<h1>Archiv aller Ausgaben</h1>
				<ul class="flex flex-col gap-8">
					{
						zeitungen.sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime()).map((zeitung) => (
							<li class="grid grid-cols-1 sm:grid-cols-2 gap-2 sm:gap-8">
								<div>
									<a href={`/zeitungen/ausgaben/${zeitung.id}/`}><img class="rounded" src={zeitung.data.heroImage} alt={`Zeitung ${zeitung.id}`} /></a>
								</div>
								<div class="flex flex-col justify-center gap-2">
									<span class="text-sm"><FormattedDate date={zeitung.data.pubDate} /></span>
									<a href={`/zeitungen/ausgaben/${zeitung.id}/`}>
										<h2 class="title"><span class="text-gray-600">Nr. {zeitung.id}</span> \\ {zeitung.data.title}</h2>
									</a>
								</div>
							</li>
						))
					}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>
