@charset "utf-8";

// Fonts
@font-face {
  font-family: "Vollkorn";
  font-style: normal;
  font-display: swap;
  font-weight: normal;
  src: url("/public/fonts/Vollkorn-Regular.woff2") format("woff2"),
    url("/public/fonts/Vollkorn-Regular.woff") format("woff"),
    url("/public/fonts/Vollkorn-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Vollkorn";
  font-style: normal;
  font-display: swap;
  font-weight: bold;
  src: url("/public/fonts/Vollkorn-SemiBold.woff2") format("woff2"),
    url("/public/fonts/Vollkorn-SemiBold.woff") format("woff"),
    url("/public/fonts/Vollkorn-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-display: swap;
  font-weight: normal;
  src: url("/public/fonts/OpenSans-Regular.woff2") format("woff2"),
    url("/public/fonts/OpenSans-Regular.woff") format("woff"),
    url("/public/fonts/OpenSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-display: swap;
  font-weight: bold;
  src: url("/public/fonts/OpenSans-Bold.woff2") format("woff2"),
    url("/public/fonts/OpenSans-Bold.woff") format("woff"),
    url("/public/fonts/OpenSans-Bold.ttf") format("truetype");
}

// Tailwind
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

// Colors
$yellow: #fcd62b;
$orange: #ed6500;
$red: #ed0000;
$blue-light: #6da9c0;
$blue-dark: #1d5778;
$petrol: #7e9a9b;
$success: #55a233;
$grey-lightest: #f1f1f1;
$grey-darkest: #111111;
$primary: $blue-light;
$size-small: 0.75rem;
$size-normal: 0.9rem;
$size-medium: 1rem;
$size-large: 1.25rem;

$family-primary: "OpenSans", sans-serif;
$family-secondary: $family-primary;
$navbar-menu-background-color: red;

@import "~bulma/sass/utilities/_all.sass";

// Overrides
$link: $grey-darker;
$link-hover: $grey-darkest;
$link-focus: $grey-darkest;
$link-hover-border: $orange;
$link-focus-border: $orange;
$footer-background-color: $grey-lightest;
$tag-color: white;
$tag-background-color: $blue-light;
$navbar-burger-color: white;

// Add or remove styles as needed to keep CSS bundle as small as possible
// Bulma components
@import "~bulma/sass/base/generic.sass";
@import "~bulma/sass/helpers/_all.sass";
@import "~bulma/sass/elements/button.sass";
@import "~bulma/sass/elements/icon.sass";
@import "~bulma/sass/elements/table.sass";
@import "~bulma/sass/form/_all.sass";
@import "~bulma/sass/components/modal.sass";

// Fontawesome
@import "~@fortawesome/fontawesome-svg-core/styles.css";
