/* latin */
@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url(https://www.efg-erfurt.de/public/fonts/OpenSans-Bold.woff2)
    format("woff2");
}

/* latin */
@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url(https://www.efg-erfurt.de/public/fonts/OpenSans-Regular.woff2)
    format("woff2");
}
