/* latin */
@font-face {
  font-family: "Vollkorn";
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url(https://www.efg-erfurt.de/public/fonts/Vollkorn-SemiBold.woff2)
    format("woff2");
}
