---
import { getCollection } from 'astro:content';
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/ZeitungHeader.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import FormattedDate from '../../components/FormattedDate.astro';

const zeitungen = await getCollection('zeitung');
const latest = zeitungen.sort((a,b) => b.data.pubDate.getTime() - a.data.pubDate.getTime())[0]
if (!latest) {
	throw new Error("missing Zeitungen")
}
const { pubDate, pdfDownload, title, heroImage} = latest.data;
const { id } = latest;

const articles = await getCollection('article');
const hasArticles = articles.filter(a => a.data.zeitung.id === id).length > 0;
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main class="max-w-4xl mx-auto px-4">
			<div class="text-sm mb-2">
				<FormattedDate date={pubDate} />
			</div>
			<div class="title">
				<h1 class="mt-2"><span class="text-gray-600">Nr. {id}</span> \\ {title}</h1>
			</div>
			<a href={`/zeitungen/ausgaben/${id}/`}>
				<img class="rounded-lg mb-8" width={1020} height={510} src={heroImage} alt={`Titelbild der Zeitung ${id}`} />
			</a>
			{hasArticles ? <>
			<p>Du kannst die Artikel dieser Ausgabe direkt hier lesen und die vollständige Ausgabe als PDF herunterladen:</p>
			<div class="flex gap-8 flex-col">
				<div class="flex justify-center gap-4 items-center">
					<div>
						<a href={`/zeitungen/ausgaben/${id}/`}>
							<button class="bg-efg-blue-bright rounded px-4 pt-3 pb-4 text-white font-bold shadow-sm hover:bg-efg-blue-dark hover:shadow">Hauptartikel lesen</button>
						</a>
					</div>
					<div>oder</div>
					<div>
						<a href={pdfDownload}>
							<button class="bg-efg-blue-bright rounded px-4 pt-3 pb-4 text-white font-bold shadow-sm hover:bg-efg-blue-dark hover:shadow">Download als PDF</button>
						</a>
					</div>
				</div>
			</div>
			</> :
			<p>Du kannst die vollständige Ausgabe als PDF herunterladen:</p>
			<div class="flex gap-8 flex-col">
				<div class="flex justify-center gap-4 items-center">
					<div>
						<a href={pdfDownload}>
							<button class="bg-efg-blue-bright rounded px-4 pt-3 pb-4 text-white font-bold shadow-sm hover:bg-efg-blue-dark hover:shadow">Download als PDF</button>
						</a>
					</div>
				</div>
			</div>}
		</main>
		<Footer />
	</body>
</html>
