<footer class="mt-8 bg-neutral-100">
	<div class="max-w-4xl mx-auto p-4">
		<div class="grid grid-cols-1 sm:grid-cols-2">
			<div>
				<a class="flex flex-row items-center gap-4" href="https://www.efg-erfurt.de/de/">
					<img class="w-6 h-6" src="https://www.efg-erfurt.de/public/images/logo.webp" alt="Cover der Zeitung" />
					<div>Zurück zu EFG Erfurt</div>
				</a>
			</div>
			<div>
				<ul class="flex flex-col gap-4">
					<li>
						<a href="https://www.efg-erfurt.de/de/imprint">Impressum</a>
					</li>
					<li>
						<a href="https://www.efg-erfurt.de/de/privacy">Datenschutz</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>