---
import HeaderLink from './HeaderLink.astro';
---

<header>
	<nav class="max-w-4xl mx-auto my-4 px-4">
		<div class="flex flex-row gap-4">
			<HeaderLink href="/zeitungen/"><span class="uppercase font-serif font-semibold">Die Zeitung</span></HeaderLink>
			<HeaderLink href="/zeitungen/ausgaben/">Archiv aller Ausgaben</HeaderLink>
		</div>
	</nav>
</header>