---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/ZeitungHeader.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
import Category from '../components/Category.astro';

type Props = {
	article: CollectionEntry<"article">,
	zeitung: CollectionEntry<"zeitung">,
	category: CollectionEntry<"category">
}

const { article, zeitung, category } = Astro.props;
const { title, author } = article.data;

const { Content } = await article.render();
---

<html lang="en">
	<head>
		<BaseHead title={`Artikel "${title}"`} description={""} />
	</head>

	<body>
		<Header />
		<main class="max-w-4xl mx-auto px-4">
			<article class="my-4">
				<Category categoryId={category.id} />
				<FormattedDate date={zeitung.data.pubDate} />
                <h1 class="mt-2 font-sans uppercase font-semibold">{title}</h1>
				<Content />
				<div class="italic">{author}</div>
			</article>
			<hr />
			<div class="mt-4 w-128 mx-auto">
				<div>
					Dieser Artikel ist Teil der Ausgabe:
				</div>
				<div class="mt-4">
					<a href={`/zeitungen/ausgaben/${zeitung.id}/`}>#{zeitung.id} // {zeitung.data.title} (erschienen am <FormattedDate date={zeitung.data.pubDate} />)
					<img class="rounded-lg w-full mt-4" width={1020} height={510} src={zeitung.data.heroImage} alt={`Titelbild der Zeitung ${zeitung.id}`} /></a>
				</div>
			</div>
		</main>
		<Footer />
	</body>
</html>
