---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/ZeitungHeader.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
import Category from '../components/Category.astro';

type Props = { zeitung: CollectionEntry<'zeitung'>["data"], articles: Array<CollectionEntry<"article">>, id: string };

const { articles, zeitung, id } = Astro.props;
const { title, pubDate, heroImage, vorwort, pdfDownload } = zeitung;
---

<html lang="en">
	<head>
		<BaseHead title={`Zeitung ${id} "${title}"`} description={""} />
	</head>

	<body>
		<Header />
		<main class="max-w-4xl mx-auto px-4">
			<div class="text-sm mb-2">
				<FormattedDate date={pubDate} />
			</div>
			<div class="title">
				<h1 class="mt-2"><span class="text-gray-600">Nr. {id}</span> \\ {title}</h1>
			</div>
			<img class="rounded-lg" width={1020} height={510} src={heroImage} alt={`Titelbild der Zeitung ${id}`} />
			<article class="my-4">
				<h2>Vorwort</h2>
				<p class="mb-0 bg-neutral-100 px-4 py-3 rounded">
					{vorwort}
				</p>
			</article>

			{articles.length > 0 && <>
				<h2 class="mb-4">Hauptartikel</h2>
				<div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
				{articles.map(a =>
					<div class="bg-neutral-100 rounded p-4">
						<Category categoryId={a.data.category.id} />
						{a.data.image && <img class="object-cover w-128 h-64 rounded-sm mb-4" width={512} height={256} src={a.data.image} alt={`Vorschau für Artikel "${a.data.title}"`} />}
						<div class="mb-4">
							<h3 class="uppercase"><a href={`/zeitungen/artikel/${a.slug}/`}>{a.data.title}</a></h3>
							{a.data.subTitle && <div class="font-sm italic">{a.data.subTitle}</div>}
						</div>
						<p>{a.data.summary}</p>
						<div class="font-bold"><a href={`/zeitungen/artikel/${a.slug}/`}>Weiterlesen</a></div>
					</div>
				)}</div>
			</>}

			<h2 class="mb-4 mt-8">Vollständige Ausgabe</h2>
			<p>Nur die Hauptartikel der neusten Ausgaben wurden hier digital veröffentlicht. Die vollständige Ausgabe findest du immer als PDF.</p>
			<a href={pdfDownload}>
				<button class="bg-efg-blue-bright rounded px-4 pt-3 pb-4 text-white font-bold shadow-sm hover:bg-efg-blue-dark hover:shadow">Download als PDF</button>
			</a>
		</main>
		<Footer />
	</body>
</html>
