@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-gray-700;
    @apply bg-white;
  }
  h1 {
    @apply font-serif;
    @apply text-4xl;
    @apply mb-4;
    @apply hyphens-auto;
  }
  h2 {
    @apply font-serif;
    @apply text-2xl;
    @apply mb-2;
    @apply hyphens-auto;
  }
  h3 {
    @apply font-sans;
    @apply font-semibold;
    @apply uppercase;
    @apply text-xl;
    @apply mb-1;
    @apply hyphens-auto;
  }
  p {
    @apply font-sans;
    @apply mb-4;
    @apply leading-8;
    @apply max-w-4xl;
    @apply hyphens-auto;
    @apply text-justify;
    @apply text-pretty;
  }
  q {
    @apply hyphens-auto;
    @apply text-justify;
    @apply text-pretty;
  }
  a {
    @apply underline;
    @apply underline-offset-8;
  }
}

@layer components {
  .konzert {
    h1 {
      @apply font-konzert;
    }
  }
}
